{% extends "MyInventoryApp/base.html" %}
{% block content %}
    <h2>All Water Bottles</h2>
    <table border="1" cellpadding="40">
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Cost</th>
            <th>Size</th>
            <th>Mouth Size</th>
            <th>Color</th>
            <th>Supplier</th>
            <th>Current Quantity</th>
        </tr>
        {% for bottle in bottles %}
        <tr>
            <td>{{ bottle.sku }}</td>
            <td>{{ bottle.brand }}</td>
            <td>{{ bottle.cost }}</td>
            <td>{{ bottle.size }}</td>
            <td>{{ bottle.mouth_size }}</td>
            <td>{{ bottle.color }}</td>
            <td>{{ bottle.supplier.name }}</td>
            <td>{{ bottle.current_quantity }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
