{% extends "MyInventoryApp/base.html" %}
{% block content %}

<table border="1" cellpadding="40">
        <tr>
            <th>Supplier Name</th>
            <th>Brands</th>
            <th>Cost of Product</th>
            <th>Current Quality</th>

        </tr>
        {% for bottle in bottles %}
        <tr>
            <td>{{ bottle.supplier.name }}</td>
            <td>{{ bottle.brand }}</td>
            <td>{{ bottle.cost }}</td>
            <td>{{ bottle.current_quantity }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
{% endblock %}